html,
        body
        {
            height: 100%;
        }

body.login 
{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.form-signin 
{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
